@use '../utils/abstracts' as *;

._checkbox {
	display: flex;
	align-items: center;
	gap: rem(8);
	> input[type='checkbox'] {
		cursor: pointer;
		position: relative;
		width: rem(24); // <-----
		height: rem(24);
		aspect-ratio: 1/1;
		border: rem(1.5) solid $c-12C146; // <-----
		transition: all $duration;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			width: 0.9rem;
			height: rem(2);
			opacity: 0;
			transition: all calc($duration / 2);
			pointer-events: none;
			will-change: rotate, top, left;
		}
		@media (pointer: fine) {
			&:hover {
				&::before,
				&::after {
					background-color: $c-12C146; // <-----
					opacity: 1;
				}
				&::before {
					rotate: 90deg;
				}
			}
		}
	}
	> input[type='checkbox']:checked {
		background-color: $c-12C146; // <-----
		&::before,
		&::after {
			background-color: $c-FFFFFF; // <-----
			opacity: 1;
		}
		&::before {
			left: 60%;
			width: 0.75rem;
			rotate: 135deg;
		}
		&::after {
			left: 30%;
			top: 60%;
			width: 0.5rem;
			rotate: -135deg;
		}
	}
}
