@use "../utils/abstracts" as *;

.header {
	width: 100%;
	position: fixed;
	z-index: 5;
	top: 0;
	font-size: rem(13);
	font-weight: $fw-medium;
	color: $c-FFFFFF;
	padding: rem(16);
	transition: $duration;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: rem(1.25) solid rgba($c-999999, 0.5);
		border-radius: $border-radius;
		background-color: rgba($c-999999, 0.2);
		backdrop-filter: blur(10px);
		padding-top: rem(12);
		padding-bottom: rem(12);
		transition: all $duration, color 0s;
		@include content-width();
	}
	&__logo-container {
		width: rem(144);
		&--contrast {
			display: none;
		}
	}
	&__logo {
		width: 100%;
		object-fit: cover;
	}
	&__nav {
		display: flex;
		align-items: center;
		gap: rem(24);
		&-item {
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			gap: 0.25rem;
			& > a {
				@include bottom-circle-hover();
			}
			&--icon {
				translate: 0 -25%;
			}
			&--more {
				position: relative;
				&-list {
					.active & {
						opacity: 1;
						translate: 0 0;
						pointer-events: auto;
					}
					position: absolute;
					top: 3rem;
					left: -1rem;
					width: rem(180);
					display: flex;
					flex-direction: column;
					border: rem(1.25) solid rgba($c-999999, 0.5);
					border-radius: calc($border-radius / 2);
					background-color: rgba($c-999999, 0.5);
					backdrop-filter: blur(15px);
					translate: 0 -100%;
					opacity: 0;
					overflow: hidden;
					pointer-events: none;
					transition: $duration;
					&-item {
						padding: rem(8) rem(16);
						&:hover {
							background-color: $c-A1C85C;
						}
					}
				}
			}
		}
	}
	&__connection {
		display: flex;
		align-items: center;
		gap: rem(16);
		&-item {
			&--tel {
				@include left-circle-hover();
			}
			&--button {
				@include button-main($c-FFFFFF, $c-12C146, rem(14), rem(10) rem(24), $c-3C3C3B, $c-FFFFFF, transparent);
			}
		}
	}
	&.fill,
	&.sticky {
		color: $c-3C3C3B;
		background-color: $c-FFFFFF;
		.header__container {
			background: none;
			border: none;
			padding-top: 0;
			padding-bottom: 0;
		}
		.header__nav-item--more-list {
			background-color: $c-FFFFFF;
			backdrop-filter: none;
		}
		.header__connection-item--button {
			border: rem(1) solid rgba($c-999999, 0.5);
		}
		.header__logo-container {
			&--main {
				display: none;
			}
			&--contrast {
				display: block;
			}
		}
	}
}
