@use "variables" as *;
@use "functions" as *;

@mixin content-width() {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: rem(128);
	padding-right: rem(128);
	@media (max-width: 768px) {
		padding-left: rem(32);
		padding-right: rem(32);
	}
}
@mixin flex-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin gradient-text($gradient: linear-gradient(90deg, black, white), $fallback-color: black) {
	color: $fallback-color;

	background: $gradient;
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
	color: transparent;
}
@mixin hover-underline($bg-color: black) {
	position: relative;
	width: fit-content;
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: rem(1);
		width: 0;
		background-color: $bg-color;
		transition: $duration;
	}
	&:hover::after {
		width: 100%;
	}
}
@mixin drop-shadow() {
	filter: drop-shadow(0 0 10px rgba(black, 0.3));
}
@mixin button() {
	
}