// Colors
$c-12C146: #1F8E31;
$c-A1C85C: #A1C85C;
$c-FE823A: #FE823A;
$c-EFF0F1: #EFF0F1;
$c-C1C2C3: #C1C2C3;
$c-3C3C3B: #3C3C3B;
$c-1C1C1E: #1C1C1E;
$c-999999: #999999;
$c-78797B: #78797B;
$c-FFFFFF: #FFFFFF;
$c-000000: #000000;

$main-color: $c-FFFFFF;
$accent-color: $c-1C1C1E;

// Other
$duration: 0.6s;
$spring: cubic-bezier(0.36, 1.5, 0.64, 1);

$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$border-radius: 2rem;
$block-border-radius: 5vw;