<dialog id="modal-registration" class="modal-form">
	<div class="modal-form__container">
		<div class="modal-form__button-close icon-cross"></div>
		<div class="modal-form__titlebox">
			<p class="modal-form__title">Регистрация участника</p>
			<p class="modal-form__subtitle">Запись на мероприятие «Баня архетипа императрицы» предусматривает предоплату 25% от стоимости входного билета</p>
			<p class="modal-form__subtitle">Для оплаты доступны платежные системы МИР, VISA, MasterCard</p>
            <ul class="modal-form__payment-info">
                <li class="modal-form__payment-info-item modal-form__payment-info-item--mir icon-mir"></li>
                <li class="modal-form__payment-info-item modal-form__payment-info-item--visa icon-visa"></li>
                <li class="modal-form__payment-info-item modal-form__payment-info-item--mastercard icon-mastercard"></li>
            </ul>
		</div>
		<form class="modal-form__form modal-form__form--booking" action="" method="post">
			<div class="modal-form__form-inputbox">
				<label class="modal-form__form-label" for="modal-registration-name">Имя</label>
				<input id="modal-registration-name" class="modal-form__form-input" type="text" placeholder="Как к вам обращаться?" required />
			</div>
			<div class="modal-form__form-inputbox">
				<label class="modal-form__form-label" for="modal-registration-tel">Телефон</label>
				<input id="modal-registration-tel" class="modal-form__form-input" data-input-tel type="tel" required />
			</div>

			<div class="modal-form__form-inputbox--select modal-form__form-inputbox--select--person modal-form__form-inputbox--registration select" tabindex="0" role="combobox">
				<input id="modal-registration-person" class="modal-form__form-input--select modal-form__form-input--select-person-input select__input" type="text" placeholder="Количество людей" tabindex="-1" readonly />
				<i class="modal-form__form-input--select-icon modal-form__form-input--select-preson-icon select__icon icon-check-mark"></i>
				<ul class="modal-form__form-input--select-preson-dropdown select__dropdown" role="listbox">
					<li class="modal-form__form-input--select-preson-item select__item" role="option" tabindex="0">1 человек</li>
					<li class="modal-form__form-input--select-preson-item select__item" role="option" tabindex="0">2 человека</li>
					<li class="modal-form__form-input--select-preson-item select__item" role="option" tabindex="0">3 человека</li>
				</ul>
			</div>
            <button class="modal-form__form-button" type="submit">Оплатить 250 &#8381;</button>
			<div class="modal-form__form-privacy">Отправляя сообщение, вы соглашаетесь<button class="modal-form__form-privacy-button" data-privacy-open>c политикой конфиденциальности</button></div>

		</form>
	</div>
</dialog>
