<dialog id="modal-services" class="modal-services">
	<div class="modal-services__container">
		<button class="modal-services__button-close icon-cross"></button>
		<div class="modal-services__title">Услуги</div>
		<ul class="modal-services__list">
			<li class="modal-services__item">
				<a class="modal-services__item-text" href="service.html">Банкетный зал</a>
				<picture class="modal-services__item-image-container">
					<img class="modal-services__item-image" src="assets/img/content/services/example1.jpg" alt="#" />
				</picture>
			</li>
			<li class="modal-services__item">
				<a class="modal-services__item-text" href="service.html">Рыбалка</a>
				<picture class="modal-services__item-image-container">
					<img class="modal-services__item-image" src="assets/img/content/services/example2.jpg" alt="#" />
				</picture>
			</li>
			<li class="modal-services__item">
				<a class="modal-services__item-text" href="service.html">Бассейн</a>
				<picture class="modal-services__item-image-container">
					<img class="modal-services__item-image" src="assets/img/content/services/example3.jpg" alt="#" />
				</picture>
			</li>
			<li class="modal-services__item">
				<a class="modal-services__item-text" href="service.html">Тюбинговая трасса</a>
				<picture class="modal-services__item-image-container">
					<img class="modal-services__item-image" src="assets/img/content/services/example4.jpg" alt="#" />
				</picture>
			</li>
			<li class="modal-services__item">
				<a class="modal-services__item-text" href="service.html">Ресторан «Царская рыба»</a>
				<picture class="modal-services__item-image-container">
					<img class="modal-services__item-image" src="assets/img/content/services/example5.jpg" alt="#" />
				</picture>
			</li>
		</ul>
	</div>
</dialog>
