<dialog id="modal-question" class="modal-form">
	<button class="modal-form__button-close icon-cross"></button>
	<div class="modal-form__container">
		<div class="modal-form__titlebox">
			<p class="modal-form__title">Не нашли ответа на свой вопрос?</p>
			<p class="modal-form__subtitle">Задайте его нам — мы всегда рады поговорить об отдыхе, природе и&nbsp;рыбалке</p>
		</div>
		<form action="" method="post" class="modal-form__form">
			<div class="modal-form__form-inputbox">
				<label class="modal-form__form-label" for="modal-question-name">Имя</label>
				<input id="modal-question-name" class="modal-form__form-input" type="text" placeholder="Как к вам обращаться?" />
			</div>
			<div class="modal-form__form-inputbox">
				<label class="modal-form__form-label" for="modal-question-email">E-mail</label>
				<input id="modal-question-email" class="modal-form__form-input" type="email" placeholder="Ваш E-mail" required />
			</div>
			<div class="modal-form__form-inputbox modal-form__form-inputbox--custom">
				<label class="modal-form__form-label" for="modal-question-comment">Ваш вопрос</label>
				<textarea id="modal-question-comment" class="modal-form__form-input modal-form__form-input--custom" placeholder="Опишите какие трудности у вас возникли" required></textarea>
			</div>
			<button class="modal-form__form-button" type="submit">Отправить вопрос</button>
			<div class="modal-form__form-privacy">Отправляя сообщение, вы соглашаетесь<button class="modal-form__form-privacy-button" data-privacy-open>c политикой конфиденциальности</button></div>
		</form>
	</div>
</dialog>
