<dialog id="menu" class="menu">
	<div class="menu__container">
		<div class="menu__button-close icon-cross" data-menu-close></div>
        <ul class="menu__nav">
            <li class="menu__nav-item"><button data-services-open>Услуги</button><i class="menu__nav-item--icon icon-check-mark"></i></li>
            <li class="menu__nav-item"><a href="about.html">Про отель</a></li>
            <li class="menu__nav-item"><a href="habitation.html">Проживание</a></li>
            <li class="menu__nav-item"><a href="price.html">Цены</a></li>
            <li class="menu__nav-item"><a href="contacts.html">Контакты</a></li>
            <li class="menu__nav-item"><a href="stocks.html">Акции</a></li>
            <li class="menu__nav-item"><a href="faq.html">Вопросы</a></li>
            <li class="menu__nav-item"><button data-feedback-open>Оставить отзыв</button></li>
            <li class="menu__nav-item"><a href="certificates.html">Подарочные сертификаты</a></li>
        </ul>
		<ul class="menu__connection">
			<li class="menu__connection-item menu__connection-item--tel"><a href="tel:+7 (999) 846-17-09">+7 (999) 846-17-09</a></li>
			<li class="menu__connection-item menu__connection-item--button"><button data-booking-open>Забронировать</button></li>
		</ul>
	</div>
</dialog>