@use "../utils/abstracts" as *;

.about-hero {
	padding: rem(96) 0;
	background-color: $c-FFFFFF;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(96);
		@include content-width();
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(32);
		text-align: center;
	}
	&__title {
		text-transform: uppercase;
		font-size: lineScale(72, 32, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
		&--accent {
			display: inline-block;
			color: $c-12C146;
			&::first-letter {
				color: $c-A1C85C;
			}
		}
	}
	&__subtitle {
		max-width: 80ch;
		font-size: rem(14);
		font-weight: $fw-medium;
	}
	&__video-container {
		position: relative;
		width: 100%;
		max-height: rem(640);
		overflow: hidden;
		border-radius: $border-radius;
	}
	&__video-button {
		cursor: pointer;
		position: absolute;
		z-index: 1;
		inset: 0;
		width: 100%;
		height: 100%;
		color: $c-FFFFFF;
		@include flex-center();
		&.icon-play {
			font-size: rem(96);
		}
		&.icon-pause {
			font-size: rem(64);
		}
		@media (pointer: fine) {
			opacity: 0;
			background-color: rgba(0, 0, 0, 0.2);
			transition: opacity $duration;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.about-about {
	position: relative;
	color: $c-FFFFFF;
	padding: rem(96) 0;
	background-color: $c-1C1C1E;
	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: -8rem;
		left: 0;
		width: 100%;
		height: 8rem;
		background-color: inherit;
		pointer-events: none;
	}
	&::after {
		top: auto;
		bottom: -8rem;
	}
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__title {
		font-size: rem(13);
		font-weight: $fw-medium;
		padding: rem(6) rem(16);
		border: rem(1.5) solid $c-3C3C3B;
		border-radius: $border-radius;
	}
	&__desc {
		font-size: lineScale(40, 24, 480, 1440);
		line-height: 150%;
		font-weight: $fw-medium;
		margin-top: rem(32);
		&--image {
			max-width: rem(60);
		}
	}
	&__metrics {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(64);
		margin-top: rem(128);
		&-item {
			max-width: 20ch;
			display: grid;
			grid-template-rows: 1fr auto 1fr;
			gap: rem(16);
		}
		&-name {
			font-size: rem(14);
			font-weight: $fw-medium;
		}
		&-number {
			font-size: lineScale(72, 48, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
		}
		&-unit {
			text-transform: uppercase;
			font-size: lineScale(22, 16, 480, 1440);
			font-weight: $fw-bold;
		}
	}
	&__map {
		width: 100%;
		height: rem(480);
		margin-top: rem(128);
		border-radius: $border-radius;
		overflow: hidden;
	}
	&__info {
		display: flex;
		flex-direction: column;
		margin-top: rem(64);
		&-title {
			text-transform: uppercase;
			font-size: lineScale(22, 18, 480, 1440);
			font-weight: $fw-bold;
		}
		&-accent {
			font-family: "Travels", sans-serif;
			font-size: lineScale(128, 48, 480, 1440);
			line-height: 1;
			font-weight: 680;
			margin-top: rem(16);
		}
		&-subtitle {
			max-width: 40ch;
			font-size: lineScale(22, 16, 480, 1440);
			font-weight: $fw-black;
			text-align: right;
			margin-top: rem(64);
			align-self: flex-end;
		}
	}
}
.about-gallery {
	background-color: $c-1C1C1E;
	border-radius: $block-border-radius;
	overflow: hidden;
	&__container {
		position: relative;
		width: 100%;
	}
	&__slide {
		position: relative;
		&-desc {
			max-width: 40ch;
			position: absolute;
			z-index: 1;
			left: 5vw;
			bottom: rem(32);
			color: $c-FFFFFF;
			font-size: lineScale(22, 18, 480, 1440);
			font-weight: $fw-bold;
			filter: drop-shadow(0 4px 10px rgba($c-1C1C1E, 1));
		}
		&-image-container {
			display: block;
			width: 100%;
			height: 80lvh;
			min-height: rem(640);
			object-fit: cover;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(80%);
		}
	}
	&__footer {
		position: absolute;
		z-index: 1;
		bottom: rem(32);
		right: 5vw;
		display: flex;
		align-items: center;
		gap: rem(32);
		font-size: rem(18);
		font-weight: $fw-medium;
		color: $c-FFFFFF;
	}
	&__counter {
		display: flex;
		align-items: center;
		gap: rem(8);
		filter: drop-shadow(0 6px 10px rgba($c-1C1C1E, 0.8));
	}
	&__button {
		position: relative;
		inset: 0;
		z-index: 0 !important;
		width: rem(64);
		height: rem(64);
		border-radius: 50%;
		color: inherit;
		margin: 0;
		background-color: rgba($c-999999, 0.2);
		backdrop-filter: blur(10px);
		transition: all $duration;
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			border-radius: 50%;
			background-color: inherit;
			transition: scale $duration;
		}
		@media (pointer: fine) {
			&:hover {
				background-color: $c-12C146;
				&::after {
					scale: 1.1;
				}
			}
		}
		&--prev {
			rotate: -90deg;
		}
		&--next {
			rotate: 90deg;
		}
	}
}
.about-services {
	padding: rem(96) 0;
	&__container {
		display: grid;
		grid-template-columns: 40% auto;
		gap: rem(32);
		@include content-width();
	}
	&__titlebox {
		position: relative;
		height: 100%;
		&-wrapper {
			position: sticky;
			top: 6rem;
			display: flex;
			flex-direction: column;
			gap: rem(32);
		}
	}
	&__title {
		font-size: lineScale(48, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
		max-width: 10ch;
	}
	&__subtitle {
		font-size: rem(14);
		color: $c-3C3C3B;
		&--link {
			text-decoration: underline;
			transition: color $duration;
			@media (pointer: fine) {
				&:hover {
					color: $c-12C146;
				}
			}
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		margin-top: rem(16);
	}
	&__item {
		cursor: pointer;
		position: relative;
		padding: rem(32);
		border: rem(2) solid $c-EFF0F1;
		border-radius: $border-radius;
		overflow: hidden;
		transition: $duration;
		@media (pointer: fine) {
			&:hover {
				border-color: transparent;
				box-shadow: 0 15px 30px rgba($c-1C1C1E, 0.1);
				.about-services__item-button {
					color: $c-1C1C1E;
				}
			}
		}
		&.active {
			border-color: transparent;
			box-shadow: 0 15px 30px rgba($c-1C1C1E, 0.1);
			.about-services__item-button {
				color: $c-1C1C1E;
				rotate: 180deg;
			}
			.about-services__item-title {
				margin-bottom: rem(16);
			}
		}
		&-button {
			position: absolute;
			top: 2rem;
			right: 2rem;
			color: $c-C1C2C3;
			rotate: 45deg;
			transition: $duration;
			@media (pointer: fine) {
				&:hover {
					rotate: 135deg;
				}
			}
		}
		&-title {
			font-size: lineScale(22, 16, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			transition: $duration;
			padding-right: rem(32);
		}
		&-text {
			font-size: rem(14);
			line-height: 150%;
			font-weight: $fw-medium;
		}
		&-image-container {
			width: 100%;
			height: rem(280);
			margin-top: rem(16);
			border-radius: $border-radius;
			overflow: hidden;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.about-trip {
	padding: rem(96) 0;
	background-color: $c-FFFFFF;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	&__container {
		@include content-width();
	}
	&__title {
		font-size: lineScale(48, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-black;
	}
	&__panorama {
		width: 100%;
		height: rem(560);
		margin-top: rem(64);
		border-radius: $border-radius;
		overflow: hidden;
	}
}
.about-feedback {
	padding: rem(96) 0;
	background-color: $c-FFFFFF;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	overflow: hidden;
	&__container {
		@include content-width();
	}
	&__titlebox {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: rem(32);
		flex-wrap: wrap;
	}
	&__title {
		font-size: lineScale(48, 32, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__button {
		display: flex;
		align-items: center;
		gap: rem(8);
		font-weight: $fw-medium;
		@include button-main($font-size: lineScale(18, 14, 480, 1440), $color: $c-1C1C1E, $padding: rem(12) rem(42));
		&--icon {
			display: block;
			rotate: 90deg;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(16);
		height: rem(920);
		margin-top: rem(64);
		mask-image: linear-gradient(rgba($c-FFFFFF, 0) 0%, rgba($c-FFFFFF, 1) 20%, rgba($c-FFFFFF, 1) 80%, rgba($c-FFFFFF, 0) 100%);
		mask-size: 100% 100%;
		-webkit-mask-image: linear-gradient(rgba($c-FFFFFF, 0) 0%, rgba($c-FFFFFF, 1) 20%, rgba($c-FFFFFF, 1) 80%, rgba($c-FFFFFF, 0) 100%);
		-webkit-mask-size: 100% 100%;
	}
	&__slider {
		height: 100%;
		overflow-x: visible;
		&-container {
			height: 100%;
			overflow: hidden;
			overflow-x: visible;
		}
		&-wrapper {
			width: fit-content;
			padding: 0 rem(8);
			overflow-x: visible;
		}
	}
	&__slide {
		cursor: default;
		padding: rem(32);
		border-radius: $border-radius;
		border: rem(1) solid transparent;
		background: $c-FFFFFF;
		box-shadow: 0 6px 10px rgba($c-1C1C1E, 0.1);
		transition: $duration;
		@media (pointer: fine) {
			&:hover {
				box-shadow: none;
				border-color: rgba($c-1C1C1E, 0.1);
			}
		}
		&-wrapper {
			width: 100%;
			height: fit-content;
		}
		&-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: rem(16);
		}
		&-name {
			font-size: rem(14);
			font-weight: $fw-medium;
			color: $c-C1C2C3;
		}
		&-rating {
			display: flex;
			gap: rem(4);
			&-star {
				font-size: rem(14);
				color: $c-12C146;
				&.empty {
					color: $c-1C1C1E;
					opacity: 0.5;
				}
			}
		}
		&-text {
			font-size: rem(14);
			font-weight: $fw-medium;
			margin-top: rem(16);
		}
	}
}
@media (max-width: 1024px) {
	.about-services {
		&__container {
			display: flex;
			flex-direction: column;
		}
	}
	.about-feedback {
		&__body {
			grid-template-columns: repeat(2, 1fr);
			> :nth-child(3) {
				display: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.about-about {
		&__desc--image {
			display: none;
		}
	}
	.about-gallery {
		&__slide {
			&-desc {
				bottom: rem(128);
			}
		}
		&__button {
			display: none;
		}
	}
	.about-feedback {
		&__body {
			grid-template-columns: 1fr;
			max-height: rem(500);
			> :nth-child(2) {
				display: none;
			}
		}
	}
}
