@use "../utils/abstracts" as *;

.events-hero {
	position: relative;
	min-height: 80vh;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	overflow: hidden;
	&__image-container {
		position: absolute;
		z-index: 0;
		inset: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(70%);
	}
	&__container {
		position: relative;
		z-index: 1;
		width: 100%;
		min-height: 80vh;
		@include flex-center();
		@include content-width();
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(40);
		text-align: center;
	}
	&__title {
		text-transform: uppercase;
		color: $c-FFFFFF;
		font-size: lineScale(72, 40, 480, 1440);
		line-height: 120%;
		font-weight: $fw-bold;
		text-align: center;
	}
	&__button {
		display: flex;
		align-items: center;
		gap: rem(8);
		@include button-main($font-size: lineScale(18, 16, 480, 1440), $padding: rem(12) rem(32), $background-color: transparent, $color: $c-FFFFFF, $border-color: $c-FFFFFF);
		&::before {
			display: none;
		}
		&--icon {
			rotate: 90deg;
		}
	}
}
.events-venues {
	position: relative;
	padding: rem(96) 0;
	background-color: $c-FFFFFF;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	overflow: hidden;
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: grid;
		grid-template-columns: 60% auto;
		gap: rem(32);
	}
	&__title {
		grid-column: span 2;
		@include block-title();
	}
	&__subtitle {
		font-size: rem(14);
	}
	&__nav {
		justify-self: flex-end;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&-button {
			aspect-ratio: 1/1;
			padding: rem(10) rem(12);
			border: rem(1) solid rgba($c-999999, 0.5);
			border-radius: 50%;
			transition: $duration;
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
					background-color: $c-12C146;
				}
			}
			&--prev {
				rotate: -90deg;
			}
			&--next {
				rotate: 90deg;
			}
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		margin-top: rem(64);
	}
	&__slider {
		width: 100%;
		&-scrollbar {
			margin-top: rem(32);
		}
	}
	&__slide {
		max-width: rem(380);
		&-image-container {
			width: 100%;
			aspect-ratio: 1/1;
			border-radius: $border-radius;
			overflow: hidden;
			&:hover {
				.events-venues__slide-image {
					scale: 1.1;
				}
			}
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale $duration;
		}
		&-title {
			font-size: rem(18);
			font-weight: $fw-medium;
			margin-top: rem(24);
		}
	}
}
.events-conditions {
	position: relative;
	padding: rem(96) 0;
	background-color: $c-EFF0F1;
	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: -8rem;
		left: 0;
		width: 100%;
		height: 8rem;
		background-color: inherit;
	}
	&::after {
		top: auto;
		bottom: -8rem;
	}
	&__container {
		@include content-width();
	}
	&__content {
		max-width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(16);
	}
	&__item {
		min-height: rem(244);
		position: relative;
		display: flex;
		flex-direction: column;
		gap: rem(16);
		padding: rem(32);
		background-color: $c-FFFFFF;
		overflow: hidden;
		border-radius: $border-radius;
		&--hero {
			flex-direction: row;
			justify-content: space-between;
		}
		&:nth-child(6n + 1) {
			grid-column: span 3;
		}
		&:nth-child(6n + 3) {
			grid-column: span 2;
		}
		&-titlebox {
			max-width: 50ch;
			display: flex;
			flex-direction: column;
			gap: rem(32);
		}
		&-title {
			font-size: lineScale(32, 24, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			&--accent {
				font-size: lineScale(22, 18, 480, 1440);
				line-height: 1;
				color: $c-12C146;
				font-weight: $fw-bold;
			}
		}
		&-text {
			font-size: rem(14);
		}
		&-list {
			display: flex;
			flex-direction: column;
			gap: rem(4);
			font-size: rem(14);
			&-item {
				list-style: disc inside;
				&--title {
					font-weight: $fw-bold;
				}
			}
		}
		&-image-circle-container {
			flex: 0 0 rem(128);
			max-height: rem(128);
			aspect-ratio: 1/1;
			border-radius: 50%;
			overflow: hidden;
		}
		&-image-circle {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-image-container {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.events-about {
	position: relative;
	padding: rem(96) 0;
	background-color: $c-A1C85C;
	border-radius: $block-border-radius $block-border-radius 0 0;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: -8rem;
		width: 100%;
		height: 8rem;
		background-color: inherit;
	}
	&__container {
		text-align: center;
		color: $c-FFFFFF;
		@include content-width();
	}
	&__title {
		font-size: rem(22);
		font-weight: $fw-bold;
		text-transform: lowercase;
	}
	&__desc {
		font-size: lineScale(40, 24, 480, 1440);
		line-height: 150%;
		font-weight: $fw-medium;
		margin-top: rem(32);
		&--image {
			max-width: rem(60);
		}
	}
}
.events-schedule {
	padding: rem(96) 0;
	overflow: hidden;
	border-radius: $block-border-radius $block-border-radius 0 0;
	background-color: $c-FFFFFF;
	&__container {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;
		gap: rem(64);
		@include content-width();
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(32);
	}
	&__title {
		font-size: lineScale(48,24,480,1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__subtitle {
		font-size: rem(14);
	}
	&__calendar-wrapper {
		position: relative;
	}
	&__calendar {
		font-size: rem(14);
		.litepicker {
			box-shadow: 0 10px 32px 0 rgba($c-1C1C1E, 0.1);
			border-radius: $border-radius;
			.container {
				&__days {
					width: fit-content;
				}
				&__months {
					width: fit-content;
					border-radius: $border-radius;
				}
			}
			.month-item {
				padding: rem(32) !important;
				width: rem(375) !important;
				max-width: rem(375) !important;
				height: rem(458) !important;
				box-sizing: border-box !important;
				&-name,
				&-year {
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					width: fit-content;
					border: none;
					background: transparent;
					padding: 0;
					pointer-events: none;
					user-select: none;
					text-transform: capitalize;
					font-size: rem(22);
					font-weight: $fw-bold;
					color: $c-12C146;
				}
				&-header {
					position: relative;
					display: block;
					& > div {
						width: fit-content;
						display: flex;
						flex-direction: row-reverse;
						gap: rem(8);
					}
					.button {
						&-previous-month,
						&-next-month {
							cursor: pointer;
							position: absolute;
							top: 60%;
							right: 0;
							translate: 0 -50%;
							& > svg {
								fill: $c-1C1C1E;
							}
							&:hover > svg {
								fill: $c-12C146 !important;
							}
						}
						&-previous-month {
							right: 4rem;
						}
					}
				}
				&-weekdays-row {
					width: 100% !important;
					display: grid !important;
					grid-template-columns: repeat(7, 1fr);
					gap: rem(14.5);
					margin-top: rem(16);
					& > * {
						width: 2rem !important;
						height: 2rem !important;
						aspect-ratio: 1/1;
						padding: 0 !important;
						font-size: rem(14) !important;
						@include flex-center();
					}
					& :nth-child(7n + 6),
					& :nth-child(7n + 7) {
						color: $c-12C146;
					}
				}
			}
			.container__days {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(7, 1fr);
				gap: rem(14.5);
				margin-top: rem(16);
				& > * {
					width: 2rem !important;
					height: 2rem !important;
					aspect-ratio: 1/1;
					box-sizing: border-box !important;
					font-size: rem(14) !important;
					padding: 0 !important;
				}
				& :nth-child(7n + 6),
				& :nth-child(7n + 7) {
					color: $c-12C146;
				}
			}
			.day-item {
				align-items: center;
				justify-content: center;
				cursor: pointer;
				position: relative;
				border: rem(1) solid transparent;
				border-radius: 50% !important;
				transition: all $duration !important;
				@include flex-center();
				&.has-event {
					border-color: $c-12C146;
				}
				&.is-start-date,
				&.is-end-date {
					color: inherit;
					background-color: inherit;
				}
				&.is-today {
					color: $c-FFFFFF;
					background-color: $c-3C3C3B;
					border-color: $c-3C3C3B;
				}

				&:hover {
					color: $c-FFFFFF;
					background-color: $c-12C146;
					border-color: $c-12C146 !important;
					outline: none !important;
					box-shadow: none !important;
				}
			}
			.calendar-tooltip {
				position: absolute;
				z-index: 10;
				background: $c-3C3C3B;
				color: $c-FFFFFF;
				border-radius: calc($border-radius / 2);
				padding: rem(12) rem(24);
				box-shadow: 0 12px 16px 0 rgba($c-1C1C1E, 0.3);
				width: max-content;
				font-size: rem(14);
				&::before {
					content: "";
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 0;
					border-left: rem(8) solid transparent;
					border-right: rem(8) solid transparent;
					border-top: rem(8) solid $c-3C3C3B;
					pointer-events: none;
				}
				&.tooltip-bottom::before {
					top: -0.5rem;
					border-top: none;
					border-bottom: rem(8) solid $c-3C3C3B;
				}
				&__item {
					margin-bottom: rem(16);
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.events-events {
	position: relative;
	padding: rem(96) 0;
	padding-top: 0;
	background-color: $c-FFFFFF;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	overflow: hidden;
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(32);
	}
	&__title {
		font-size: rem(18);
		font-weight: $fw-medium;
	}
	&__subtitle {
		font-size: rem(14);
	}
	&__nav {
		justify-self: flex-end;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&-button {
			aspect-ratio: 1/1;
			padding: rem(10) rem(12);
			border: rem(1) solid rgba($c-999999, 0.5);
			border-radius: 50%;
			transition: $duration;
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
					background-color: $c-12C146;
				}
			}
			&--prev {
				rotate: -90deg;
			}
			&--next {
				rotate: 90deg;
			}
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		margin-top: rem(16);
	}
	&__slider {
		width: 100%;
		&-scrollbar {
			margin-top: rem(32);
		}
	}
	&__slide {
		max-width: rem(380);
		&-image-container {
			width: 100%;
			aspect-ratio: 1/1;
			border-radius: $border-radius;
			overflow: hidden;
			&:hover {
				.events-events__slide-image {
					scale: 1.1;
				}
			}
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale $duration;
		}
		&-title {
			font-size: rem(18);
			font-weight: $fw-medium;
			margin-top: rem(24);
		}
		&-desc {
			font-size: rem(14);
			color: $c-3C3C3B;
			margin-top: rem(8);
			@include lineClamp(3);
		}
	}
}
@media (max-width: 1240px) {
	.events-conditions {
		&__item {
			&:nth-child(6n+4) {
				grid-column: span 3;
			}
			&:nth-child(6n+5) {
				grid-column: span 2;
			}
		}
	}
}
@media (max-width: 1024px) {
	.events-conditions {
		&__content {
			display: flex;
			flex-direction: column;
		}
	}
}
@media (max-width: 768px) {
	.events-venues {
		&__titlebox {
			display: flex;
			flex-direction: column;
		}
	}
	.events-conditions {
		&__item {
			&-image-circle-container {
				display: none;
			}
		}
	}
	.events-about {
		&__desc--image {
			display: none;
		}
	}
	.events-schedule {
		&__container {
			display: flex;
			flex-direction: column-reverse;
		}
	}
}
