@use "../utils/abstracts" as *;

.index-hero {
	color: $c-FFFFFF;
	min-height: 100lvh;
	overflow-x: clip;
	&__background {
		position: absolute;
		inset: 0;
		z-index: -1;
		width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
		filter: brightness(80%);
	}
	&__container {
		height: 100lvh;
		min-height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: rem(64);
		padding-top: rem(128);
		padding-bottom: rem(128);
		@include content-width();
	}
	&__advant {
		position: relative;
		align-self: flex-end;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -1rem;
			height: rem(1);
			width: 100vw;
			background-color: $c-FFFFFF;
		}
		&-item {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: rem(14);
			font-weight: $fw-medium;
		}
	}
	&__label {
		position: relative;
		width: fit-content;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		&--logo-container {
			width: 48vw;
			max-width: rem(844);
			min-width: rem(350);
		}
		&--logo {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&--text {
			position: absolute;
			bottom: 10%;
			right: 1rem;
			font-size: rem(34);
			font-size: lineScale(34, 14, 640, 1440);
		}
	}
	&__form {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
	&__inputbox {
		flex-grow: 1;
		flex-shrink: 1;
		position: relative;
		display: grid;
		grid-template-columns: 90% auto;
		border-radius: $border-radius;
		padding: rem(12) rem(32);
		border: rem(1.25) solid $c-FFFFFF;
		&:hover {
			background-color: rgba($c-999999, 0.2);
			backdrop-filter: blur(10px);
			border-color: transparent;
		}
		&--date {
			flex-basis: rem(200);
		}
		&--person {
			width: rem(150);
			flex-basis: rem(150);
		}
		&--house {
			width: rem(250);
			flex-basis: rem(250);
		}
	}
	&__input {
		cursor: pointer;
		grid-column: 1;
		background-color: transparent;
		color: $c-C1C2C3;
		font-size: rem(15);
		font-weight: $fw-medium;
		&::placeholder {
			color: inherit;
		}
		&[type="date"] {
			&::-webkit-calendar-picker-indicator {
				cursor: pointer;
				width: 100%;
				height: 100%;
				position: absolute;
				inset: 0;
				opacity: 0;
			}
		}
		&:focus {
			outline: none;
		}
		&-name {
			font-size: rem(12);
			font-weight: $fw-medium;
		}
		&-icon {
			grid-column: 2;
			grid-row: 1 / span 2;
			align-self: center;
		}
	}
	&__button {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: rem(250);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		text-align: center;
		@include button-blur(rem(18) rem(32));
		&--icon {
			rotate: 90deg;
		}
	}
}
.index-stocks {
	position: relative;
	padding: rem(96) 0;
	background-color: $c-FFFFFF;
	background-image: url("../assets/img/bg-map/1.svg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	overflow: hidden;
	&__mountains-bg {
		position: absolute;
		bottom: 0;
		left: 10%;
	}
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		justify-content: space-between;
		gap: rem(32);
		flex-wrap: wrap;
	}
	&__title {
		@include block-title();
	}
	&__nav {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&-button {
			aspect-ratio: 1/1;
			padding: rem(10) rem(12);
			border: rem(1) solid rgba($c-999999, 0.5);
			border-radius: 50%;
			transition: $duration;
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
					background-color: $c-12C146;
				}
			}
			&--prev {
				rotate: -90deg;
			}
			&--next {
				rotate: 90deg;
			}
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		margin-top: rem(64);
	}
	&__slider {
		width: 100%;
		padding: 1rem;
		&-scrollbar {
			margin-top: rem(32);
		}
	}
	&__button {
		width: fit-content;
		margin-top: rem(64);
		align-self: center;
		@include button-main();
	}
	&__slide {
		max-width: rem(384);
		&-image-container {
			width: 100%;
			aspect-ratio: 1/1;
			border-radius: $border-radius;
			overflow: hidden;
			&:hover {
				.index-stocks__slide-image {
					scale: 1.1;
				}
			}
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale $duration;
		}
		&-title {
			font-size: rem(18);
			font-weight: $fw-medium;
			margin-top: rem(24);
		}
		&-desc {
			font-size: rem(14);
			color: $c-3C3C3B;
			margin-top: rem(8);
		}
	}
}
.index-booking {
	position: relative;
	z-index: 0;
	padding: rem(96) 0;
	overflow-x: hidden;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	background-color: $c-FFFFFF;
	background-image: url("../assets/img/bg-map/2.svg");
	background-size: cover;
	background-position: auto;
	background-repeat: no-repeat;
	&__castle-bg {
		position: absolute;
		bottom: 0;
		right: 0;
		pointer-events: none;
	}
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(32);
	}
	&__title {
		text-wrap: balance;
		@include block-title();
	}
	&__nav {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&-button {
			aspect-ratio: 1/1;
			padding: rem(10) rem(12);
			border: rem(1) solid rgba($c-999999, 0.5);
			border-radius: 50%;
			transition: $duration;
			@media (pointer: fine) {
				&:hover {
					color: $c-FFFFFF;
					background-color: $c-12C146;
				}
			}
			&--prev {
				rotate: -90deg;
			}
			&--next {
				rotate: 90deg;
			}
		}
	}
	&__slider {
		width: 100%;
		padding: 1rem;
		&-scrollbar {
			margin-top: rem(32);
		}
	}
	&__button {
		align-self: center;
		margin-top: rem(64);
		@include button-main();
	}
	&__body {
		min-width: 0;
		display: flex;
		flex-direction: column;
		margin-top: rem(64);
	}
	&__slide {
		cursor: default;
		max-width: rem(384);
		flex: 0 0 100%;
		border-radius: $border-radius;
		@media (pointer: fine) {
			max-height: rem(527);
			overflow: hidden;
			&:hover {
				background-color: $c-FFFFFF;
				box-shadow: (0 5px 20px 0 rgba($c-1C1C1E, 0.2));
				.index-booking__slide-image-container {
					aspect-ratio: 2/1.35;
				}
				.index-booking__slide-buttonbox {
					opacity: 1;
					flex: 1 1 0%;
				}
			}
		}
		&-wrapper {
			width: 100%;
			height: 100%;
		}
		&-content {
			display: flex;
			flex-direction: column;
			gap: rem(16);
			padding: rem(16);
		}
		&-image-container {
			width: 100%;
			aspect-ratio: 2/2;
			overflow: hidden;
			border-radius: $border-radius;
			transition: $duration;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-price {
			font-size: rem(13);
			font-weight: $fw-medium;
			&--number {
				font-size: rem(16);
			}
		}
		&-title {
			font-size: rem(18);
			font-weight: $fw-medium;
		}
		&-tagbox {
			display: flex;
			flex-wrap: wrap;
			gap: rem(4);
		}
		&-tag {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: rem(12);
			font-weight: $fw-medium;
			padding: rem(8) rem(12);
			border: rem(1.5) solid $c-EFF0F1;
			border-radius: $border-radius;
		}
		&-buttonbox {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(16);
			flex: 0 1 0;
			transition: all $duration;
			@media (pointer: fine) {
				opacity: 0;
			}
		}
		&-button {
			font-weight: $fw-medium;
			border-radius: $border-radius;
			&--booking {
				@include button-main($c-1C1C1E, $c-12C146, rem(12), rem(10) rem(35), $c-FFFFFF, $c-FFFFFF, transparent);
			}
			&--more {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: rem(13);
				color: $c-3C3C3B;
				padding: rem(12) rem(18);
				transition: color $duration;
				& i {
					rotate: 90deg;
				}
				&:hover {
					color: $c-12C146;
				}
			}
		}
	}
}
.index-advant {
	position: relative;
	padding: rem(96) 0;
	background-color: $c-EFF0F1;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: -8rem;
		left: 0;
		width: 100%;
		height: 8rem;
		background-color: inherit;
	}
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__title {
		font-size: rem(22);
		color: $c-12C146;
		font-weight: $fw-bold;
	}
	&__desc {
		font-size: lineScale(40, 24, 480, 1440);
		line-height: 150%;
		font-weight: $fw-medium;
		margin-top: rem(32);
		&--image {
			max-width: rem(60);
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(16);
		margin-top: rem(128);
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(32);
		padding: rem(48) rem(32);
		background-color: $c-FFFFFF;
		border-radius: $border-radius;
		&-item {
			display: grid;
			grid-template-columns: rem(60) auto;
			gap: 1rem;
			&-image-container {
				grid-row: span 2;
			}
			&-title {
				font-size: lineScale(24, 18, 480, 1440);
				line-height: 100%;
				font-weight: $fw-bold;
			}
			&-text {
				grid-column: 2;
			}
		}
	}
	&__gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(16);
		&-image-container {
			border-radius: $border-radius;
			overflow: hidden;
			&:nth-child(4n + 1) {
				grid-row: span 1;
			}
			&:nth-child(4n + 2) {
				grid-row: span 3;
			}
			&:nth-child(4n + 3) {
				grid-row: span 4;
			}
			&:nth-child(4n + 4) {
				grid-row: span 2;
			}
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.index-services {
	position: relative;
	color: $c-FFFFFF;
	padding: rem(64) 0;
	background-color: $c-1C1C1E;
	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: -8rem;
		left: 0;
		width: 100%;
		height: 8rem;
		background-color: inherit;
	}
	&::after {
		top: auto;
		bottom: -8rem;
	}
	&__container {
		@include content-width();
	}
	&__title {
		width: fit-content;
		font-size: rem(13);
		line-height: 100%;
		font-weight: $fw-medium;
		padding: rem(8) rem(16);
		border: rem(1.5) solid $c-3C3C3B;
		border-radius: $border-radius;
	}
	&__list {
		counter-reset: item-counter;
		display: flex;
		flex-direction: column;
		gap: rem(24);
		margin-top: rem(32);
	}
	&__item {
		counter-increment: item-counter;
		position: relative;
		width: fit-content;
		@media (pointer: fine) {
			&:hover {
				.index-services__item-image-container {
					opacity: 1;
					rotate: -10deg;
					scale: 1;
					translate: 0 10%;
				}
			}
		}
		&-text {
			position: relative;
			display: flex;
			align-items: flex-start;
			font-size: lineScale(72, 28, 480, 1440);
			line-height: 100%;
			font-weight: $fw-black;
			text-transform: uppercase;
			opacity: 0.5;
			&::before {
				content: "[0" counter(item-counter) "]";
				font-size: rem(12);
				line-height: 1;
				font-weight: $fw-medium;
			}
		}
		&-image-container {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			width: fit-content;
			height: fit-content;
			padding: rem(4);
			padding-bottom: rem(16);
			background-color: $c-FFFFFF;
			rotate: 20deg;
			scale: 0.8;
			opacity: 0;
			translate: -20% 20%;
			transition: $duration $spring;
			pointer-events: none;
		}
		&-image {
			width: rem(128);
			height: rem(152);
			object-fit: cover;
		}
	}
}
.index-about {
	background-color: $c-EFF0F1;
	border-radius: $block-border-radius;
	padding: rem(96) 0;
	&__container {
		@include content-width();
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}
	&__item {
		display: grid;
		gap: rem(16);
		border-radius: $border-radius;
		&:nth-child(3n + 1) {
			grid-template-columns: 60% auto;
		}
		&:nth-child(3n + 2) {
			grid-template-columns: 40% auto;
		}
		&:nth-child(3n + 3) {
			grid-template-columns: 40% auto;
			background-color: $c-FE823A;
			.index-about__item-content {
				color: $c-FFFFFF;
				background-color: transparent;
			}
			.index-about__item-text {
				font-size: rem(18);
				font-weight: $fw-medium;
				color: inherit;
			}
		}
		&-image-container {
			width: 100%;
			height: rem(484);
			overflow: hidden;
			border-radius: $border-radius;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scaleX(-1);
		}
		&-content {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: $border-radius;
			display: flex;
			flex-direction: column;
			gap: rem(16);
			padding: rem(32);
			background-color: $c-FFFFFF;
		}
		&-title {
			font-size: lineScale(32, 20, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			&--small {
				font-size: lineScale(18, 16, 480, 1440);
				font-weight: $fw-medium;
			}
		}
		&-name {
			font-size: lineScale(48, 24, 480, 1440);
			line-height: 1;
			font-weight: $fw-medium;
			color: $c-12C146;
		}
		&-text {
			font-size: rem(14);
			color: $c-3C3C3B;
		}
		&-list {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			&-item {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: rem(13);
				font-weight: $fw-medium;
				&--icon {
					color: $c-FE823A;
				}
			}
		}
		&-link {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: rem(12);
			font-weight: $fw-medium;
			@include right-circle-hover();
			&--icon {
				rotate: 90deg;
			}
		}
		&-button {
			width: fit-content;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: rem(14);
			font-weight: $fw-medium;
			color: $c-1C1C1E;
			padding: rem(10) rem(24);
			background-color: $c-FFFFFF;
			border-radius: $border-radius;
			transition: $duration;
			@media (pointer: fine) {
				&:hover {
					> i {
						translate: 0.5rem 0;
					}
				}
			}
			&--icon {
				rotate: 90deg;
				will-change: translate;
				transition: translate $duration;
			}
		}
	}
}
.index-metrics {
	position: relative;
	padding: rem(96) 0;
	color: $c-FFFFFF;
	background-color: $c-1C1C1E;
	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: -8rem;
		left: 0;
		width: 100%;
		height: 8rem;
		background-color: inherit;
	}
	&::after {
		top: auto;
		bottom: -8rem;
	}
	&__container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		align-items: center;
		gap: rem(32);
		@include content-width();
	}
	&__cover,
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__cover-container {
		min-width: rem(280);
		grid-column: span 2;
		aspect-ratio: 1/1;
		overflow: hidden;
		border-radius: $border-radius;
	}
	&__content {
		grid-column: span 4;
	}
	&__title {
		font-size: lineScale(32, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__text {
		color: $c-C1C2C3;
		font-size: rem(12);
		font-weight: $fw-medium;
		margin-top: rem(16);
	}
	&__button {
		display: block;
		margin-top: rem(32);
		@include button-main($c-1C1C1E, $c-12C146, rem(14), rem(8) rem(24), $c-FFFFFF);
	}
	&__values {
		grid-column: span 4;
		display: flex;
		justify-content: space-between;
		gap: rem(32);
		&-item {
			max-width: 17ch;
			display: flex;
			flex-direction: column;
			gap: rem(16);
			&-number {
				font-size: lineScale(48, 24, 480, 1440);
				line-height: 1;
				font-weight: $fw-bold;
			}
			&-desc {
				font-size: rem(14);
			}
		}
	}
	&__image-container {
		grid-column: span 2;
		overflow: hidden;
		border-radius: $border-radius;
	}
}
.index-gallery {
	padding: rem(96) 0;
	border-radius: $block-border-radius $block-border-radius 0 0;
	background-color: $c-FFFFFF;
	overflow-x: clip;
	background-image: url("../assets/img/bg-map/3.svg");
	background-size: cover;
	background-position: -8rem 0;
	background-repeat: no-repeat;
	&__container {
		@include content-width();
	}
	&__slider {
		overflow: visible;
		&-wrapper {
			transition: $duration;
			width: fit-content;
		}
	}
	&__body {
		width: max-content;
		display: flex;
		gap: rem(16);
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: rem(32);
		max-width: 40ch;
		aspect-ratio: 1/1;
		padding: rem(32);
		background-color: $c-EFF0F1;
		border-radius: $border-radius;
		&--mobile {
			display: flex;
			flex-direction: column;
			gap: rem(32);
			padding: rem(32) 0;
			display: none;
		}
	}
	&__title {
		font-size: lineScale(40, 32, 480, 1440);
		line-height: 120%;
		font-weight: $fw-medium;
		&--mobile {
			font-size: lineScale(40, 32, 480, 1440);
			line-height: 120%;
			font-weight: $fw-medium;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		@include button-main($c-EFF0F1, $c-12C146, rem(14), rem(8) rem(24), $c-1C1C1E, $c-FFFFFF, $c-1C1C1E);
		&--icon {
			rotate: 90deg;
		}
		&--mobile {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			@include button-main();
			&--icon {
				rotate: 90deg;
			}
		}
	}
	&__content {
		width: max-content;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: rem(240);
		grid-template-rows: repeat(8, rem(60));
		gap: rem(16);
	}
	&__item-wrapper {
		grid-row: span 4;
		border-radius: calc($border-radius / 2);
		overflow: hidden;
		@include flex-center();
		&:nth-child(7n + 3) {
			grid-row: span 3;
		}
		&:nth-child(7n + 4) {
			grid-row: span 5;
		}
		&:nth-child(7n + 5) {
			grid-row: span 5;
		}
		&:nth-child(7n + 6) {
			grid-row: span 3;
		}
		&:nth-child(7n + 7) {
			grid-row: span 8;
		}
	}
	&__item {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.index-partners {
	padding: rem(96) 0;
	overflow-x: clip;
	background-image: url("../assets/img/bg-map/4.svg");
	background-size: cover;
	background-position: -3rem 0;
	background-repeat: no-repeat;
	&__titlebox {
		@include content-width();
	}
	&__title {
		@include block-title();
	}
	&__slider {
		margin-top: rem(64);
		overflow: visible;
	}
	&__slide {
		padding: rem(32);
		max-width: rem(244);
		box-shadow: 0 15px 30px rgba($c-1C1C1E, 0.1);
		border: rem(2) solid transparent;
		border-radius: $border-radius;
		background-color: $c-FFFFFF;
		filter: saturate(0%);
		transition: all $duration;
		@include flex-center();
		@media (pointer: fine) {
			&:hover {
				box-shadow: none;
				border-color: $c-12C146;
				filter: none;
			}
		}
	}
	&__image-container {
		height: rem(86);
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.index-contacts {
	position: relative;
	padding: rem(64) 0;
	background-color: $c-FFFFFF;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	&__cross-bg {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__container {
		@include content-width();
	}
	&__title {
		@include block-title();
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(16);
		margin-top: rem(64);
	}
	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: rem(32);
		width: 100%;
		aspect-ratio: 1/1;
		padding: rem(32);
		border-radius: $border-radius;
		overflow: hidden;
		background-color: $c-EFF0F1;
		transition: all $duration;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem(64);
			background-color: inherit;
		}
		&.expand {
			aspect-ratio: auto;
			height: auto;
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		font-size: lineScale(26, 18, 480, 1440);
		line-height: 120%;
		font-weight: $fw-medium;
		&-item {
			width: fit-content;
			@include right-circle-hover(rem(12));
			&--tel {
				color: $c-12C146;
			}
		}
	}
	&__cords {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: lineScale(18, 16, 480, 1440);
		color: $c-12C146;
		font-weight: $fw-medium;
	}
	&__desc {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	&__subtitle {
		font-size: lineScale(20, 18, 480, 1440);
		font-weight: $fw-bold;
	}
	&__list {
		counter-reset: item-counter;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-top: rem(24);
		&-item {
			counter-increment: item-counter;
			display: flex;
			gap: 0.5rem;
			font-size: rem(14);
			&::before {
				content: counter(item-counter) ".";
			}
			&--title {
				font-size: rem(14);
				font-weight: $fw-bold;
			}
		}
	}
	&__button {
		cursor: pointer;
		position: absolute;
		bottom: rem(32);
		display: flex;
		gap: 0.25rem;
		font-size: rem(13);
		line-height: 130%;
		font-weight: $fw-medium;
		transition: all $duration;
		@media (pointer: fine) {
			&:hover {
				color: $c-12C146;
			}
		}
		&--icon {
			.expand & {
				transform: scaleY(-1);
			}
		}
	}
	&__map {
		aspect-ratio: 1/1;
		border-radius: $border-radius;
		overflow: hidden;
	}
}
.index-question {
	position: relative;
	padding: rem(96) 0;
	color: $c-FFFFFF;
	background-color: $c-A1C85C;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: -8rem;
		left: 0;
		width: 100%;
		height: 8rem;
		background-color: inherit;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@include content-width();
	}
	&__title {
		font-size: lineScale(72, 32, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__desc {
		max-width: 50ch;
		font-size: rem(18);
		font-size: lineScale(18, 16, 480, 1440);
		font-weight: $fw-medium;
		margin-top: rem(16);
	}
	&__button {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-top: rem(32);
		@include button-main(inherit, $c-12C146, rem(18), rem(20) rem(48), $c-FFFFFF, $c-FFFFFF, $c-FFFFFF);
		&--icon {
			rotate: 90deg;
		}
	}
}
@media (max-width: 1240px) {
	.index-advant {
		&__body {
			display: flex;
			flex-direction: column;
		}
		&__list {
			&-item {
				align-items: center;
				&-image-container {
					grid-row: span 1;
				}
				&-text {
					grid-column: span 2;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.index-about {
		&__item {
			display: flex;
			flex-direction: column;
			&:nth-child(3n + 1),
			&:nth-child(3n + 2) {
				.index-about__item-image-container {
					display: none;
				}
			}
		}
	}
	.index-contacts {
		padding-bottom: 0;
		border-radius: 0 0 $border-radius $border-radius;
		&__container {
			display: contents;
		}
		&__title {
			@include content-width();
		}
		&__body {
			display: flex;
			flex-direction: column;
		}
		&__info::before {
			display: none;
		}
		&__info,
		&__map {
			aspect-ratio: auto;
			min-height: rem(500);
		}
		&__button {
			display: none;
		}
	}
}
@media (max-width: 768px) {
	.index-advant {
		&__desc--image {
			display: none;
		}
	}
	.index-metrics {
		&__container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		&__values {
			flex-direction: column;
			&-item {
				max-width: none;
			}
		}
		&__cover-container,
		&__image-container {
			display: none;
		}
	}
	.index-gallery {
		&__titlebox {
			display: none;
			&--mobile {
				display: flex;
			}
		}
	}
}
@media (max-width: 580px) {
	.index-stocks {
		&__container {
			display: contents;
		}
		&__titlebox {
			@include content-width();
		}
	}
	.index-booking {
		&__container {
			display: contents;
		}
		&__titlebox {
			@include content-width();
		}
	}
	.index-advant {
		&__container {
			display: contents;
		}
		&__titlebox {
			@include content-width();
		}
	}
	.index-about {
		padding: 0;
		border-radius: $border-radius;
		&__container {
			padding: 0;
		}
	}
}
@media (max-height: 700px) {
	.index-hero {
		&__advant {
			display: none;
		}
	}
}
