@use "../utils/abstracts" as *;

.price-price {
	padding: rem(96) 0;
	background-color: $c-FFFFFF;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	&__container {
		display: grid;
		grid-template-columns: 40% auto;
		gap: rem(32);
		@include content-width();
	}
	&__titlebox {
		position: relative;
		height: 100%;
		&-wrapper {
			position: sticky;
			top: 6rem;
			display: flex;
			flex-direction: column;
			gap: rem(32);
		}
	}
	&__title {
		font-size: lineScale(48, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
		max-width: 10ch;
	}
	&__subtitle {
		font-size: rem(14);
		color: $c-3C3C3B;
		&--link {
			transition: color $duration;
			@media (pointer: fine) {
				&:hover {
					color: $c-12C146;
				}
			}
		}
	}
	&__hint {
		color: $c-FE823A;
		font-size: rem(14);
	}
	&__button {
		display: flex;
		align-items: center;
		gap: rem(8);
		font-weight: $fw-medium;
		@include button-main($font-size: lineScale(18, 14, 480, 1440), $color: $c-1C1C1E, $padding: rem(12) rem(24));
		&--icon {
			rotate: 90deg;
		}
	}
	&__image-container {
		width: 100%;
		height: rem(156);
		border-radius: $border-radius;
		overflow: hidden;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		//object-position: top;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		margin-top: rem(16);
	}
	&__item {
		cursor: pointer;
		position: relative;
		padding: rem(32);
		border: rem(2) solid $c-EFF0F1;
		border-radius: $border-radius;
		overflow: hidden;
		transition: $duration;
		@media (pointer: fine) {
			&:hover {
				border-color: transparent;
				box-shadow: 0 15px 30px rgba($c-1C1C1E, 0.1);
				.price-price__item-button {
					color: $c-1C1C1E;
				}
			}
		}
		&.active {
			border-color: transparent;
			box-shadow: 0 15px 30px rgba($c-1C1C1E, 0.1);
			.price-price__item-button {
				color: $c-1C1C1E;
				rotate: 180deg;
			}
			.price-price__item-title {
				margin-bottom: rem(16);
			}
		}
		&-button {
			position: absolute;
			top: 2rem;
			right: 2rem;
			color: $c-C1C2C3;
			rotate: 45deg;
			transition: $duration;
			@media (pointer: fine) {
				&:hover {
					rotate: 135deg;
				}
			}
		}
		&-title {
			font-size: lineScale(22, 16, 480, 1440);
			line-height: 1;
			font-weight: $fw-bold;
			transition: $duration;
			padding-right: rem(32);
		}
		&-text {
			font-size: rem(14);
			line-height: 150%;
			font-weight: $fw-medium;
		}
		&-table {
			width: 100%;
			overflow: hidden;
			margin-top: rem(16);
			&-wrapper {
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				scroll-behavior: smooth;
			}
			&-table {
				width: 100%;
				border-collapse: collapse;
			}
			&-cell {
				width: rem(170);
				padding: rem(10) rem(12);
				font-size: rem(13);
				line-height: 1;
				border: rem(1) solid $c-E6E6E6;
				white-space: nowrap;
				&--head {
					font-size: rem(14);
					color: $c-FFFFFF;
					font-weight: $fw-medium;
					background-color: $c-12C146;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.price-price {
		&__container {
			display: flex;
			flex-direction: column;
		}
	}
}
