@use "../utils/abstracts" as *;

.stocks-stocks {
	padding: rem(96) 0;
	background-color: $c-EFF0F1;
	border-radius: 0 0 $block-border-radius $block-border-radius;
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}
	&__title {
		font-size: lineScale(48, 32, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__subtitle {
		font-size: rem(18);
		font-weight: $fw-medium;
	}
	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: rem(64);
		margin-top: rem(96);
		& > li {
			position: sticky;
			top: rem(96);
			display: grid;
			grid-template-columns: 50% auto;
			gap: rem(64);
			padding: rem(32);
			background-color: $c-FFFFFF;
			border-radius: calc($border-radius + rem(32));
			box-shadow: 0 -1px 20px 0 rgba($c-1C1C1E, .1);
			& > div {
				display: flex;
				flex-direction: column;
				gap: rem(48);
				& > h2 {
					font-size: lineScale(32, 24, 480, 1440);
					line-height: 1;
					font-weight: $fw-bold;
				}
				& > time {
					font-size: rem(18);
					font-weight: $fw-medium;
					color: $c-C1C2C3;
					& > span {
						color: $c-12C146;
					}
				}
				& > ul li {
					list-style: decimal inside;
					font-size: rem(14);
				}
				& > p {
					font-size: rem(14);
				}
				& > button {
					display: flex;
					align-items: center;
					gap: rem(8);
					font-weight: $fw-medium;
					@include button-main($font-size: lineScale(18,14,480,1440), $padding: rem(12) rem(24), $color: $c-1C1C1E);
					& > span {
						font-weight: normal;
					}
					& i {
						display: inline-block;
						rotate: 90deg;
					}
				}
			}
			& > picture {
				width: 100%;
                max-height: rem(450);
				overflow: hidden;
				border-radius: $border-radius;
				& > img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
@media (max-width: 1440px) {
    .stocks-stocks {
        &__container {
            display: contents;
        }
        &__titlebox {
            @include content-width();
        }
    }
}
@media (max-width: 768px) {
    .stocks-stocks {
        &__container {
            display: contents;
        }
        &__body {
            & > li {
                display: initial;
                border-radius: $border-radius;
                & > picture {
                    display: none;
                }
            }
        }
    }
}