<footer class="footer">
	<a class="footer__button-top icon-pine-double" href="#start"></a>
	<div class="footer__container">
		<div class="footer__body">
			<form class="footer__form" action="" method="post">
				<p class="footer__form-title">Подпишитесь на наши акции и&nbsp;новости</p>
				<div class="footer__form-input-wrapper">
					<div class="footer__form-inputbox">
						<label class="footer__form-label" for="input-name">Электронная почта</label>
						<input id="input-name" class="footer__form-input" type="email" placeholder="name@yandex.ru" required />
					</div>
					<button class="footer__form-button icon-arrow" type="submit"></button>
				</div>
			</form>
			<div class="footer__links">
				<ul class="footer__list">
					<li class="footer__list-item--title">КАРТА САЙТА</li>
					<li class="footer__list-item"><a href="">Главная</a></li>
					<li class="footer__list-item"><a href="">Акции</a></li>
					<li class="footer__list-item"><a href="">Мероприятия</a></li>
					<li class="footer__list-item"><a href="">Про отель</a></li>
					<li class="footer__list-item"><a href="">Проживание</a></li>
					<li class="footer__list-item"><a href="">Сертификаты</a></li>
					<li class="footer__list-item"><a href="">Цены</a></li>
					<li class="footer__list-item"><a href="">Контакты</a></li>
				</ul>
				<ul class="footer__list">
					<li class="footer__list-item--title">УСЛУГИ</li>
					<li class="footer__list-item"><a href="">Аренда беседок</a></li>
					<li class="footer__list-item"><a href="">Банкетный зал</a></li>
					<li class="footer__list-item"><a href="">Баня</a></li>
					<li class="footer__list-item"><a href="">Бассейн</a></li>
					<li class="footer__list-item"><a href="">Горнолыжная трасса</a></li>
					<li class="footer__list-item"><a href="">Кафе</a></li>
					<li class="footer__list-item"><a href="">Продажа рыбы</a></li>
					<li class="footer__list-item"><a href="">Рыбалка</a></li>
				</ul>
				<ul class="footer__list">
					<li class="footer__list-item--title">ПОМОЩЬ</li>
					<li class="footer__list-item"><a href="">Вопросы и ответы</a></li>
					<li class="footer__list-item"><a href="">Оставить отзыв</a></li>
					<li class="footer__list-item" data-privacy-open><button>Политика конфиденциальности</button></li>
					<li class="footer__list-item"><a href="">Пользовательское соглашение</a></li>
				</ul>
				<ul class="footer__list">
					<li class="footer__list-item--title">КОНТАКТЫ</li>
					<li class="footer__list-item--info"><i class="footer__list-item--info-icon icon-map-mark"></i>Самара, ул. Пушкина, д. Колотушкина 15а, офис 22</li>
					<li class="footer__list-item--info"><i class="footer__list-item--info-icon icon-tel"></i><a href="tel:+7 (846) 654-78-12">8 (846) 654-78-12</a></li>
					<li class="footer__list-item--info"><i class="footer__list-item--info-icon icon-clock"></i>9:30 – 22:00</li>
					<li class="footer__list-item--info"><i class="footer__list-item--info-icon icon-mail"></i><a href="mailto:hello@rodnik.ru">hello@rodnik.ru</a></li>
				</ul>
			</div>
			<div class="footer__company">
				<a class="footer__company-logo" href="index.html">
					<picture class="footer__company-logo-container">
						<img class="footer__company-logo-image" src="assets/icons/logo/logo-main.svg" alt="#Логотип" />
					</picture>
				</a>
				<div class="footer__company-connection">
					<p class="footer__company-connection-desc">Следите за нами в соцсетях</p>
					<a class="footer__company-connection-icon footer__company-connection-icon--vk icon-vk" href="#"></a>
					<a class="footer__company-connection-icon footer__company-connection-icon--telegram icon-telegram" href="#"></a>
					<a class="footer__company-connection-icon footer__company-connection-icon--instagram icon-instagram" href="#"></a>
				</div>
				<div class="footer__company-copy">&copy; 2024 Rodnik. Все права защищены</div>
			</div>
		</div>
		<div class="footer__label">
			<div class="footer__label-container">
				<ul class="footer__label-studio">
					<li class="footer__label-studio-item--text">Разработка и поддержка сайта:</li>
					<li class="footer__label-studio-item--image-wrapper">
						<a href="https://intheplace.ru" target="_blank">
							<picture class="footer__label-studio-item--image">
								<img src="assets/icons/root/theplace.svg" alt="ThePlace" />
							</picture>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script src="https://api-maps.yandex.ru/2.1/?apikey=466c57d0-00c9-424e-9e19-9ba284de093e&lang=ru_RU" type="text/javascript"></script>
<script src="./js/main.min.js"></script>
