<section class="route-block">
	<div class="route-block__container">
		<div class="route-block__info">
			<h2 class="route-block__title">Как добраться:</h2>
			<ul class="route-block__list">
				<li class="route-block__list-item--title">На автомобиле:</li>
				<li class="route-block__list-item">Выезд из Самары по М-5 в сторону Уфы.</li>
				<li class="route-block__list-item">Съезд на указатель "Лесное" и двигайтесь 10 км.</li>
				<li class="route-block__list-item">Въезд в село, следуйте по ул. Туристическая до отеля.</li>
			</ul>
			<ul class="route-block__list">
				<li class="route-block__list-item--title">На автобусе:</li>
				<li class="route-block__list-item">С автовокзала Самары на автобус до села Лесное (1,5 часа).</li>
				<li class="route-block__list-item">Выйдите на остановке "Лесное" и пройдите 1 км по главной</li>
				<li class="route-block__list-item">Въезд в село, следуйте по ул. Туристическая до отеля.</li>
			</ul>
			<ul class="route-block__list">
				<li class="route-block__list-item--title">На теплоходе:</li>
				<li class="route-block__list-item">С автовокзала Самары на автобус до села Лесное (1,5 часа).</li>
				<li class="route-block__list-item">Выйдите на остановке "Лесное" и пройдите 1 км по главной</li>
				<li class="route-block__list-item">Въезд в село, следуйте по ул. Туристическая до отеля.</li>
			</ul>
			<div class="route-block__footer">
				<button class="route-block__button"><i class="route-block__button--icon icon-check-mark"></i><span class="route-block__button--text">Показать полностью</span></button>
				<p class="route-block__cords"><i class="route-block__cords--icon icon-compass"></i>Ш: 42.874296 Д: 133.803304</p>
			</div>
		</div>
		<picture class="route-block__image-container">
			<img class="route-block__image" src="assets/img/content/rodnik.jpg" alt="#" />
		</picture>
	</div>
</section>
