@use "../../utils/abstracts" as *;

.modal-form {
	max-height: 100%;
	width: 100vw;
	max-width: rem(1280);
	position: fixed;
	top: 50%;
	left: -100%;
	translate: -50% -50%;
	color: $c-FFFFFF;
	background-color: $c-1C1C1E;
	border-radius: $border-radius;
	overflow-y: auto;
	transition: $duration;
	&[open] {
		pointer-events: auto;
	}
	&::backdrop {
		background-color: rgba($c-000000, 0);
		transition: $duration;
	}
	&.anim {
		left: 50%;
		translate: -50% -50%;
		&::backdrop {
			background-color: rgba($c-000000, 0.5);
			backdrop-filter: blur(5px);
		}
	}
	&__button-close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		font-size: rem(24);
		transition: rotate $duration;
		@media (pointer: fine) {
			cursor: pointer;
			&:hover {
				rotate: 90deg;
			}
		}
	}
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(64);
		padding: rem(64);
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(32);
	}
	&__title {
		font-size: lineScale(48, 24, 480, 1440);
		line-height: 1;
		font-weight: $fw-bold;
	}
	&__subtitle {
		font-size: lineScale(16, 14, 480, 1440);
		font-weight: $fw-medium;
	}
	&__payment-info {
		display: flex;
		align-items: center;
		gap: rem(16);
		&-item {
			width: fit-content;
			font-size: rem(64);
			&--mir {
				font-size: rem(24);
			}
			&--visa {
				font-size: rem(72);
			}
		}
	}
	&__form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(32) 0;
		&--booking {
			gap: rem(32);
		}
		&-inputbox {
			height: fit-content;
			position: relative;
			display: flex;
			flex-direction: column;
			border-bottom: rem(1) solid rgba($c-C1C2C3, 0.5);
			transition: $duration;
			@media (pointer: fine) {
				&:hover,
				&:has(.modal-form__form-input:focus) {
					border-color: $c-FFFFFF;
				}
			}
			&--custom {
				grid-column: span 2;
			}
			&--full-name {
				grid-column: span 2;
			}
			&--registration {
				grid-column: span 2;
			}
			&--date {
				.modal-form__form-input--date-icon {
					position: absolute;
					top: 50%;
					right: 1rem;
					translate: 0 -50%;
				}
				.modal-form__form-label {
					opacity: 0.2;
				}
				.modal-form__form-input {
					min-height: rem(60);
					&[type="date"] {
						&::-webkit-calendar-picker-indicator {
							cursor: pointer;
							width: 100%;
							height: 100%;
							position: absolute;
							inset: 0;
							opacity: 0;
						}
					}
				}
			}
			&--select {
				padding: rem(16) 0;
				border-bottom: rem(1) solid rgba($c-C1C2C3, 0.5);
				transition: $duration;
				@media (pointer: fine) {
					&:hover,
					&:has(.modal-form__form-input:focus) {
						border-color: $c-FFFFFF;
					}
				}
				.modal-form__form-input--select-icon {
					position: absolute;
					top: 50%;
					right: 1rem;
					translate: 0 -50%;
				}
				.modal-form__form-input--select {
					background-color: transparent;
					color: inherit;
					font-size: inherit;
				}
			}
			&:has(.modal-form__form-input:hover) .modal-form__form-label {
				color: $c-FFFFFF;
			}
			&:has(.modal-form__form-input:focus) .modal-form__form-label,
			&:has(.modal-form__form-input:not([data-input-tel]):not(:placeholder-shown)) .modal-form__form-label,
			&:has([data-input-tel].filled) .modal-form__form-label {
				translate: 0 0;
				color: $c-FFFFFF;
				font-size: rem(12);
			}
		}
		&-label {
			position: absolute;
			left: 0;
			top: 0;
			color: $c-3C3C3B;
			font-size: rem(14);
			font-weight: $fw-medium;
			translate: 0 1.25rem;
			pointer-events: none;
			transition: $duration;
		}
		&-input {
			width: 100%;
			font-size: rem(20);
			padding: 1.8rem 0 0.5rem 0;
			background-color: transparent;
			color: $c-FFFFFF;
			transition: $duration;
			&--custom {
				resize: none;
				width: 100%;
				height: rem(150);
			}
			&::placeholder {
				opacity: 0;
				transition: $duration;
			}
			&:focus {
				outline: none;
				&::placeholder {
					opacity: 1;
				}
			}
		}
		&-review {
			grid-column: span 2;
			display: flex;
			flex-direction: column;
			gap: rem(16);
			&-title {
				font-size: lineScale(18, 16, 480, 1440);
				font-weight: $fw-medium;
			}
			&-rate {
				display: flex;
				&-item {
					cursor: pointer;
					font-size: rem(32);
					color: $c-3C3C3B;
					padding: 0 rem(4);
					&.active,
					&.hovered {
						color: $c-12C146;
					}
				}
			}
		}
		&-services {
			grid-column: span 2;
			display: flex;
			gap: rem(8);
			flex-wrap: wrap;
			&-item {
				display: flex;
				align-items: center;
				gap: rem(8);
				font-size: rem(12);
				font-weight: $fw-medium;
				padding: rem(8) rem(12);
				border-radius: $border-radius;
				background-color: $c-3C3C3B;
				&-price {
					color: $c-C1C2C3;
					opacity: 0.5;
				}
				&-remove {
					cursor: pointer;
					font-size: rem(18);
					color: $c-FE823A;
				}
			}
			&-select {
				grid-column: span 2;
				position: relative;
				padding: rem(8) 0;
				border-bottom: rem(1) solid rgba($c-C1C2C3, 0.5);
				transition: $duration;
				@media (pointer: fine) {
					&:hover,
					&:has(.modal-form__form-input:focus) {
						border-color: $c-FFFFFF;
					}
				}
			}
			&-icon {
				position: absolute;
				top: 0;
				right: 1rem;
				translate: 0 50%;
			}
			&-input {
				opacity: 0;
			}
			&-label {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.2;
				pointer-events: none;
			}
		}
		&-button {
			height: fit-content;
			@include button-main($background-color: $c-1C1C1E, $padding: rem(12) rem(32), $color: $c-FFFFFF, $font-size: rem(18));
		}
		&-privacy {
			align-self: center;
			font-size: rem(12);
			line-height: 150%;
			color: $c-C1C2C3;
			font-weight: $fw-medium;
			&-button {
				cursor: pointer;
				color: $c-12C146;
				@include hover-underline($c-12C146);
			}
		}
	}
}
@media (max-width: 1200px) {
	.modal-form {
		&__container {
			display: flex;
			flex-direction: column;
		}
	}
}
@media (max-width: 768px) {
	.modal-form {
		min-height: 100lvh;
		border-radius: 0;
		&__form {
			display: flex;
			flex-direction: column;
			&-button {
				width: 100%;
				padding: rem(12) 0;
				text-align: center;
			}
			&-privacy {
				text-align: center;
			}
		}
	}
}
@media (max-width: 580px) {
	.modal-form {
		&__container {
			padding: rem(32) rem(16);
			padding-top: rem(64);
		}
	}
}
