@use "../../utils/abstracts" as *;

.modal-services {
    width: 100vw;
    height: fit-content;
    position: relative;
    color: $c-FFFFFF;
    background-color: $c-1C1C1E;
    padding: rem(64) rem(32);
    border-radius: 0 0 $block-border-radius $block-border-radius;
    overflow: visible;
    pointer-events: none;
    translate: 0 -100%;
    transition: translate $duration;
	&[open] {
		pointer-events: auto;
	}
	&::backdrop {
		background-color: rgba($c-000000, 0);
		transition: $duration;
	}
	&.anim {
		translate: 0 0;
		&::backdrop {
			background-color: rgba($c-000000, 0.5);
			backdrop-filter: blur(5px);
		}
	}
    &__button-close {
        position: absolute;
        top: rem(48);
        right: rem(48);
        font-size: rem(24);
        transition: rotate $duration;
		@media (pointer: fine) {
			cursor: pointer;
			&:hover {
				rotate: 90deg;
			}
		}
    }
	&__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(32);
	}
	&__title {
		width: fit-content;
		font-size: rem(13);
		line-height: 100%;
		font-weight: $fw-medium;
		padding: rem(8) rem(16);
		border: rem(1.5) solid $c-3C3C3B;
		border-radius: $border-radius;
	}
	&__list {
		counter-reset: item-counter;
		display: flex;
		flex-direction: column;
        align-items: center;
		gap: rem(24);
	}
	&__item {
		counter-increment: item-counter;
		position: relative;
		width: fit-content;
        text-align: center;
		@media (pointer: fine) {
			&:hover {
				.modal-services__item-image-container {
					opacity: 1;
					rotate: -10deg;
					scale: 1;
					translate: 0 10%;
				}
			}
		}
		&-text {
			position: relative;
			font-size: lineScale(72, 28, 480, 1440);
			line-height: 1;
			font-weight: $fw-black;
			text-transform: uppercase;
            padding-left: 2rem;
			opacity: 0.5;
			&::before {
				content: "[0" counter(item-counter) "]";
                position: absolute;
                top: 0;
                left: 0;
				font-size: rem(12);
				line-height: 1;
				font-weight: $fw-medium;
			}
		}
		&-image-container {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			width: fit-content;
			height: fit-content;
			padding: rem(4);
			padding-bottom: rem(16);
			background-color: $c-FFFFFF;
			rotate: 20deg;
			scale: 0.8;
			opacity: 0;
			translate: -20% 20%;
			transition: $duration $spring;
			pointer-events: none;
		}
		&-image {
			width: rem(128);
			height: rem(152);
			object-fit: cover;
		}
	}
}
