@use "../../utils/abstracts" as *;

.menu {
	max-width: initial;
	min-height: 100vh;
	max-height: 100vh;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	overflow: auto;
	background-color: $c-1C1C1E;
	padding: rem(64);
	padding-top: rem(40);
	padding-right: rem(128);
	translate: 100% 0;
	pointer-events: none;
	transition: translate $duration;
	&[open] {
		pointer-events: auto;
	}
	&::backdrop {
		background-color: rgba($c-000000, 0);
		transition: $duration;
	}
	.sticky &,
	.fill & {
		padding-top: rem(24);
	}
	&.anim {
		translate: 0 0;
		&::backdrop {
			background-color: rgba($c-000000, 0.5);
			backdrop-filter: blur(5px);
		}
	}
	&__container {
		height: 80vh;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		gap: rem(48);
		text-align: right;
		color: $c-FFFFFF;
	}
	&__button-close {
		font-size: rem(24);
		transition: $duration;
		@media (pointer: fine) {
			cursor: pointer;
			&:hover {
				rotate: 90deg;
			}
		}
	}
	&__nav {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: rem(16);
		&-item {
			width: fit-content;
			display: flex;
			gap: 0.5rem;
			text-transform: uppercase;
			font-size: rem(18);
		}
	}
	&__connection {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: rem(32);
		&-item {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			&--tel {
				text-align: center;
				font-size: rem(18);
			}
			&--button {
				text-align: center;
				@include button-main($background-color: $c-12C146, $color: $c-FFFFFF, $width: 100%);
			}
		}
	}
}
@media (max-width: 768px) {
	.menu {
		padding-right: rem(32);
	}
}
